venv
__pycache__/
*.pyc
*.log
.env
.venv/
error.log
low_stock_report.txt
tests/.pytest_cache

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytestdebug.log
.coverage
.ruff_cache
.flaskenv
script.py.mako
